.banner{
    background: url("../images/banner1.jpg");
    padding: 10%;
    padding-right: 30%;
    padding-bottom: 30%;
    padding-left: 20%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-title{
    color: rgb(37, 23, 168);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.card-text{
    font-family: 'Oswald', sans-serif;
}